<div class="h-100">
  <app-favorites-bar></app-favorites-bar>
  <div class="bg-dark rounded-2 " fxFlex="100" fxFill>
    <div fxLayout="row wrap " fxLayoutGap="grid">
      <mat-card class="mat-elevation-z4 m-1" fxFlex="48">
        <mat-card-header>
          <mat-card-title>
            <app-add-favorites></app-add-favorites>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="" height="200px" />
        <mat-card-content>
          <p>item.descricao</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="w-100 text-center">VER DETALHES</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
