<app-favorites-bar></app-favorites-bar>
<div class="bg-dark rounded-2 mt-1 me-1 pe-1 py-1 " fxFlex="100" fxFill>
  <h2 class="w-100 text-light text-start ms-2 ">Playlists</h2>
  <div fxLayout="row wrap " fxLayoutGap="grid">
    <mat-card class="mat-elevation-z4 m-1" *ngFor="let item of playlist">
      <mat-card-header>
        <mat-card-title class="fs-6">
          <i class="nav-link button bi bi-plus" width="32" height="32" role="button"
            (click)="addToFavorites(item)">Adicionar Favoritos</i>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="item.backdrop" height="200px" />
      <mat-card-content>
        <p>{{item.name}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button class="w-100 text-center" href="playlist/{{item.id}}">Ir para playlist de Músicas </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <h2 class="w-100 text-light text-start ms-2 mt-4">Bandas</h2>
  <div fxLayout="row wrap " fxLayoutGap="grid">
    <mat-card class="mat-elevation-z4 m-1" *ngFor="let item of bands">
      <mat-card-header>
        <mat-card-title class="fs-6">
          <i class="nav-link button bi bi-plus" width="32" height="32" role="button"
            (click)="addBandToFavorites(item)">Adicionar Favoritos</i>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="item.backdrop" height="200px" />
      <mat-card-content>
        <p>{{item.name}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button class="w-100 text-center" href="band/{{item.id}}">Ir para detalhes da Banda </a>
      </mat-card-actions>
    </mat-card>
  </div>
  <h2 class="w-100 text-light text-start ms-2 mt-4">Albums</h2>
  <div fxLayout="row wrap " fxLayoutGap="grid">
    <mat-card class="mat-elevation-z4 m-1" *ngFor="let item of albums">
      <mat-card-header>
        <mat-card-title class="fs-6">
          <i class="nav-link button bi bi-plus" width="32" height="32" role="button"
            (click)="addAlbumToFavorites(item)">Adicionar Favoritos</i>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="item.backdrop" height="200px" />
      <mat-card-content>
        <p>{{item.name}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button class="w-100 text-center" href="album/{{item.id}}">Ir para detalhes do  Álbum  </a>
      </mat-card-actions>
    </mat-card>
  </div>
