@using Application.Streaming.Dto
@model AlbumViewModel
@if (ViewBag.Alert != null)
{
    <partial name="Alert" model="(AlertViewModel)ViewBag.Alert" />
}
<button type="button" class="btn btn-primary mb-2" role="button" onclick="backHistory()">
    <i class="bi bi-arrow-return-left">Voltar</i>
</button>
<div class="d-flex flex-column align-items-stretch m-0 p-2 border border-2 border-dark bg-dark rounded-2 align-items-center justify-content-center text-light">
    <form method="post" asp-controller="Album" asp-action="Update">
        @Html.TextBoxFor(model => model.Album.Id, new { @class = "form-control", @id = "id", @Type = "hidden", @required = "" })
        <div class="row mb-3">
            <label for="name" class="col-1 col-form-label fs-5 text-end">Nome</label>
            <div class="col">
                @Html.TextBoxFor(model => model.Album.Name, new { @class = "form-control", @id = "name", @required = "" })
                <span class="badge bg-secondary bg-opacity-50 text-danger" asp-validation-for="Album.Name"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label for="backdrop" class="col-1 col-form-label fs-5 text-end">Backdrop</label>
            <div class="col">
                @Html.TextBoxFor(model => model.Album.Backdrop, new { @class = "form-control", @id = "backdrop", @required = "" })
                <span class="badge bg-secondary bg-opacity-50 text-danger" asp-validation-for="Album.Backdrop"></span>
            </div>
        </div>
        <div class="row mb-2">
            <label for="band" class="col-1 col-form-label fs-5 text-end">Banda</label>
            <div class="col">
                <select id="band" name="Album.BandId" class="form-select" required>
                    <option value="" disabled>Selecione uma Banda</option>
                    @foreach (var band in Model.Bands)
                    {
                        string selected = band.Id == Model.Album.BandId ? "selected='selected'" : "";
                        @if (band.Id == Model.Album.BandId)
                        {
                            <option value="@band?.Id" selected>@band?.Name</option>
                        }
                        else
                        {
                            <option value="@band?.Id">@band?.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <label for="genre" class="col-1 col-form-label fs-5 text-end">Gênero</label>
            <div class="col">
                <select id="genre" name="Album.GenreId" class="form-select" required>
                    <option value="" disabled>Selecione um Gênero</option>
                    @foreach (var genre in Model.Genres)
                    {
                        string selected = genre?.Id == Model.Album.GenreId ? "selected='selected'" : "";
                        @if (genre.Id == Model.Album.GenreId)
                        {
                            <option value="@genre?.Id" selected>@genre?.Name</option>
                        }
                        else
                        {
                            <option value="@genre?.Id">@genre?.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row mb-3  d-flex align-items-center justify-content-center ">
            <button type="submit" class="btn btn-primary w-25 fs-4">
                <i class="bi bi-save">Salvar</i>
            </button>
        </div>
    </form>
</div>