@model AdministrativeApp.Models.AlertViewModel
<div class="alert" data-bs-dismiss="alert" aria-label="Close">
    <div class="alert-container d-flex flex-column align-content-center justify-content-center m-0 p-0 border border-2 border-@Model.Type rounded-top-2 rounded-bottom-1 position-absolute popover" role="alert">
        <div class="modal-header bg-@Model.Type text-light mt-0 p-2 rounded-top-1 rounded-bottom-0" style="position: relative; bottom: 0.1rem">
            <h2 class="m-0 border-0" id="success">@Model.Header</h2>
        </div>
        <ul>
            <li class="m-2 p-2 text-black fs-4" role="alert">@Model.Message</li>
        </ul>
    </div>
</div>