<ul class="list-unstyled m-2 w-100 h-auto"  fxFill>
  <li class="input-group-text mx-0 w-100" id="basic-addon1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search me-2"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
        </path>
      </svg>
    <input id="input-buscar" type="text" class="form-control b-0 mx-0 " placeholder="Qual música deseja pesquisar ?"
      [(ngModel)]="search" (keyup)="searchMusic($event)">
    <span class="input-group-text btn btn-light bi bi-x fs-4 ms-2 p-0" id="btn-close" disabled aria-label="Close"
      (click)="clearPesquisar()"></span>
  </li>
  <li class="w-100 position-absolute top-2" >
    <div class="h-100  p-2  popover bg-black" fxFlex="100" fxFill *ngIf="musics.length > 0">
      <ul class="list-unstyled searchPopup" *ngFor="let music of musics; trackBy: trackByMusic">
        <li class="text-start m-0">
          <mat-card class="mat-elevation-z4 mb-1" fxFill>
            <mat-card-header class="d-flex fs-2 "  fxFill>
              <mat-card-title >
                <a  href="band/{{music.bandId}}" data-toggle="tooltip" data-placement="bottom" title="Ir banda {{ music.bandName }}">Banda: {{ music.bandName}}</a>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="d-flex fs-6 ">
              <a href="album/{{music.albumId}}" ><img mat-card-image [src]="music.albumBackdrop" width="40px" height="40px"
                data-toggle="tooltip" data-placement="bottom" title="Ir para album {{ music.albumName }}"/></a>
              <a type="button" class="w-75 btn btn-light text-start text-decoration-none ms-2 px-2"  href="music/{{music.id}}">Música: {{music.name}}</a>
            </mat-card-content>
          </mat-card>
        </li>
      </ul>
    </div>
  </li>
</ul>
