<mat-toolbar color="primary" class="d-flex header-full-height">
  <a class="justify-content-start text-start text-light text-decoration-none w-25" href="#">Lite Streaming</a>
  <app-search class="input-group w-50 ms-2"></app-search>
  <div class="d-flex justify-content-end ms-auto" *ngIf="isAuthenticated()" >
      <ul class="list-unstyled mb-0 mx-2 ms-auto ">
          <li class="nav-item dropdown">
              <button class="nav-link button"  data-bs-toggle="dropdown" aria-expanded="true">Inscreva-se</button>
              <ul class="dropdown-menu dropdown-menu-light text-small text-center shadow" style="left: -150%" aria-labelledby="dropdown">
                  <li >
                      <span class="nav-link dropdown-item" >
                          <a type="button" class="btn btn-light" href="account/customer" >Cliente</a>
                      </span>
                  </li>
                  <li>
                      <span class="nav-link dropdown-item" >
                        <a type="button" class="btn btn-light" href="account/merchant">Comerciante</a>
                      </span>
                  </li>
              </ul>
          </li>
      </ul>
    <a class="btn btn-light rounded-4 ms-auto mx-2"  href="login"  aria-expanded="true">Entrar</a>
  </div>
  <div class="d-flex justify-content-end ms-auto"  *ngIf="!isAuthenticated()">
    <button class="btn btn-light rounded-4 ms-auto mx-2"  (click)="logout()" aria-expanded="true">Sair</button>
  </div>
</mat-toolbar>
